<html xmlns:th="http://thymeleaf.org">

<head th:replace="layout :: site-head">
</head>

<header th:replace="layout :: logged-in"></header>

<h1>Edit Image</h1>

<form enctype="multipart/form-data" th:action="@{/editImage(imageId=${image.id})}" th:method="put">

  <div>Image Title :</div>
  <div>
    <input name="title" size="70" th:value="${image.title}" type="text"/>
  </div>

  <br>
  <div> Description :</div>
  <div>
    <textarea cols="100" name="description" rows="7" th:text="${image.description}"></textarea>
  </div>

  <br>
  <div>
    <label for="file">Edit File</label>
    <input id="file" name="file" type="file"/>
  </div>

  <!-- The code provides an option to edit the tags of an image and also displays the previous assigned tags to an image-->
  <br>
  <div>
    <label for="tags">Edit Tags</label>
    <textarea id="tags" name="tags" th:text="${tags}" type="text"></textarea>
    <p>Multiple tags are allowed. Please separate tags by "," such as labrador,dog,yellow </p>
  </div>

  <br>
  <input type="submit" value="Submit"/>
</form>

</html>