<!Doctype html>

<html xmlns:th="http://thymeleaf.org">

<head th:replace="layout :: site-head">
</head>

<!-- Using the logged-in fragment -->
<header th:replace="layout :: logged-in"></header>

<body>
<h1>Upload New Image</h1>

<form enctype="multipart/form-data" method="post" th:action="@{/images/upload}">
  <div>Image Title:</div>
  <div><input id="title" name="title" type="text"/></div>

  <br>
  <div>Description:</div>

  <div><textarea cols="100" name="description" rows="7"></textarea></div>
  <br>
  <div>
    <label for="file">Upload File</label>
    <input id="file" name="file" type="file"/>
  </div>

  <!-- This piece of code accepts the string of all the tags separated by a comma-->
  <br>
  <div>
    <label for="tags">Tags</label>
    <input id="tags" name="tags" type="text"/>
    <p> Multiple tags are allowed. Please separate tags by "," such as labrador,dog,yellow </p>
  </div>

  <br>
  <div>
    <input type="submit" value="Submit"/>
  </div>
</form>

</body>
</html>